[defaults]
interpreter_python = auto_silent
inventory = inventories/hosts.yml
collections_paths = ~/.ansible/collections
stdout_callback = default
result_format = yaml
callbacks_enabled = profile_tasks
deprecation_warnings = False
#vault_password_file = .ansible_vault_pass.sh

[ssh_connection]
pipelining = True
