Host packtly-{{ inventory_hostname }}
    HostName {{ ansible_host | default(sshconfig_hostname) }}
    User root
    Port {{ ssh_port }}
    IdentityFile {{ sshconfig_identity_file }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null